body {
  background-color: #f0f1f3 !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  padding: 8px;
  user-select: none;
  cursor: default;
}

.btn {
  font-size: 14px !important;
}

.btn-cadet {
  color: #fff !important;
  background-color: #3f7ca9 !important;
  border-color: #3f7ca9 !important;
}

.btn-cadet:hover {
  color: #fff !important;
  background-color: #2f5f82 !important;
  border-color: #2f5f82 !important;
}

.btn-outline-cadet {
  color: #3f7ca9 !important;
  border-color: #3f7ca9 !important;

  &:hover {
    color: #fff !important;
    background-color: #2f5f82 !important;
    border-color: #2f5f82 !important;
  }
}



.btn-cadet-toggle:not(:disabled):not(.disabled).active,
.btn-cadet-toggle:not(:disabled):not(.disabled):active {
  color: #fff !important;
  background-color: #2f5f82 !important;
  border-color: #2f5f82 !important;
  outline: none;
  border: 0;
  box-shadow: none;
}

.btn-cadet-toggle {
  color: #000 !important;
  background-color: #f0f1f3 !important;
  border-color: #f0f1f3 !important;
  outline: none;
  border: 0;
  box-shadow: none;
}

.navbar-brand {
  text-decoration: none;
  color: #777777;
  font-weight: bolder;
}

.btn-curved {
  border-radius: 20px !important;
}



.d-center {
  text-align: center;
  position: relative;
  top: 0;
  bottom: 0;
  margin: 100px auto;
}

.dark {
  color: #333;
}

.light {
  color: #aaa;
}

.small {
  font-size: 75% !important;
}

.add-location-form.modal-dialog {
  max-width: 700px;
}

.pull-right {
  float: right;
}

.add-location-form {
  font-size: 12px !important;

  .react-tag-input input {
    font-size: 12px;
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid #cec2c2;
    outline: none;
    background-color: transparent;
    height: 32px;

    &:focus {
      border: 0;
      border-bottom: 2px solid #3f7ca9;
      box-shadow: none;

      .react-tag-input .appoinment-label {
        color: #3f7ca9;
        font-weight: 600;
      }
    }
  }

  input,
  button {
    font-size: 12px !important;
  }

  .form-group {
    display: flex;
    flex-direction: column-reverse;


    input,
    select {
      font-size: 12px;
      border: 0;
      border-radius: 0;
      border-bottom: 2px solid #cec2c2;
      outline: none;
      background-color: transparent;
      height: 32px;
      margin-top: 0;

      &:focus {
        border: 0;
        border-bottom: 2px solid #3f7ca9;
        box-shadow: none;

        +label {
          color: #3f7ca9;
          font-weight: 600;
        }
      }
    }

    label {
      margin-bottom: 0;
    }
  }

  .facility-time {
    display: inline-flex;
    position: relative;
    width: 75px;
  }

  th,
  td {
    padding: 5px !important;
  }

  .day-check {
    line-height: 32px;
    margin: 0;
    margin-left: 20px;
  }

  .day-label {
    margin: 0;
  }

  .day-input {
    // margin-top: 12px;
  }

  .am-pm-group {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    margin-top: -6px;
    margin-left: 10px;
  }

  .modal-title {
    color: #3f7ca9;
  }

  .modal-content {
    border-radius: 0;
  }

  .errorMsg {
    color: red;
  }

  .tag-span {
    background: #ccc;
    padding: 8px;
    border-radius: 33px;
    color: #3f7ca9;
    margin: 5px;
    display: inline-block;
  }
}

table.location-table {

  border-collapse: separate;
  border-spacing: 0px;
  font-size: 12px;
  padding: 16px;

  button {
    font-size: 12px !important;
  }

  td,
  th {
    background-color: #fff;
    padding: 0 !important;
    vertical-align: middle;
    border-top: 2px solid #f0f1f3;
    border-bottom: 2px solid #f0f1f3;
  }

  thead th, tfoot td {
    vertical-align: middle;
    border-bottom: 2px solid #f0f1f3;
    border-top: 2px solid #f0f1f3;
    border-bottom: 2px solid #f0f1f3;
    padding: 5px !important;
  }

  tr td:first-child,
  tr th:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-left: 25px !important;
  }

  tr td:last-child,
  tr th:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }


  .round {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #2f5f82;
    border-radius: 40px;
    color: #fff;
    text-align: center;
    padding-top: 5px;
  }

  .action-icon {
    cursor: pointer;
    margin: 10px;
  }

  .edit {
    color: #ffcc00
  }

  .delete {
    color: #ff6565
  }
}